<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
</head>
<body>
    <%- include('./partials/nav') %>
  <div class="container mt-3">
         <div class="row row-cols-4 ">
   <% if(locals.blogs){ %>
    <% blogs.forEach(blog => { %>
      <div class="col">
     <div class="card m-10 col " style="width: 18rem;">
  <img src="<%= blog.coverImgUrl %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
     <a href="/blog/<%= blog._id %>" class="btn btn-primary">see more</a>
  </div>
</div></div>
    <% }) %>
    <%}%></div></div>
    <%- include('./partials/scripts') %>
</body>
</html>